
<div class="cards d-flex flex-wrap justify-content-around">
    <% @cocktails.each do |cocktail| %>
      <div class="card mb-5" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title"><%= cocktail.name.capitalize %></h3>
            <% cocktail.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill, gravity: :center %>
            <% end %>
          </div>
        <%= link_to 'See details', cocktail_path(cocktail), class: "btn" %>
         </div>
    <% end %>
</div>
